@model RentNiceCar.Models.Car

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kenteken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kenteken)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Merk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Merk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Soort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Omschrijving)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GPS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prijs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prijs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Borg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Borg)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Reserveren", "Order", new { id = Model.Kenteken }) | Optioneel voor de klant*@ 
        @if (User.IsInRole("Eigenaar")) {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Kenteken })<text> | </text>
        }
        @Html.ActionLink("Back to List", "Index")
    </p>
